<%= form_for(@idea, class: "form") do |f| %>
  <div class="form-group max-width">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle max-width" type="button" id="drpdnCategory" data-toggle="dropdown" aria-expanded="true">
        <span class="pull-left">Category
        <span class="caret"></span>
        </span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Commercial</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Non-Profit</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Creative</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Industrial</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Technology</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Start Up</a></li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control text_area", rows: "5" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
$(".dropdown-menu li a").click(function(){
var selText = $(this).text();
$(this).parents('.dropdown').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});
</script>