<h1>Browse Ideas</h1>
    <% @ideas.each do |idea| %>
   <div class="col-xs-4 padding-top-bottom">
    <section class="idea-content">
      <div class="idea-content-header">
        <%= idea.title %>
          <% if (idea.category.blank?) %>
                <div class="pull-right">Category: Unknown</div>
            <% else %>
                <div class="pull-right">Category:  <%= idea.category %></div>
            <% end %>
      </div>
      <div class="idea-content-body">
        <% if idea.content.length > 350 %>
        <p class="show-less">
          <%= idea.content[0..200] %>...c
          <a class="show-text">Show more</a>
        </p>
        <p class="show-more">
          <%= idea.content[0..idea.content.length] %>
          <a class="hide-text">Show less</a>
        </p>
       <% else %>
        <p><%= idea.content %></p>
       <% end %>
      </div>
      <div  class="idea-content-footer">
        <div class="padding-top-15"></div>
        <%= link_to "I'm Interested", idea_path(idea), class: 'btn btn-primary' %>
      </div>
    </section>
   </div>
  <% end %>




<section class="post_content">
  <div class="post_content_inner">
    <div class="post_title large">
  <span class="quote">At the end of the day, we can endure much more than we think we can.</span>
</div>
    <div class="post_body">
      <div class="quote_source">
  —&nbsp;
  Frida Kahlo</div>
    </div>
  </div>
</section>