<h1>Browse Ideas</h1>
    <% @ideas.each do |idea| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          Image Here
          <div class="caption">
            <h4><%= idea.title %></h4>
              <% if (idea.category.blank?) %>
                  <div class="label label-primary pull-left">Category: Unknown</div>
              <% else %>
                  <div class="label label-primary pull-left">Category:  <%= idea.category %></div>
              <% end %>
          </div>
            <p>
              <% if idea.content.length > 350 %>
                <p class="show-less">
                  <%= idea.content[0..200] %>...c
                  <a class="show-text">Show more</a>
                </p>
                <p class="show-more">
                  <%= idea.content[0..idea.content.length] %>
                  <a class="hide-text">Show less</a>
                </p>
            <% else %>
                <p><%= idea.content %></p>
            <% end %>
            </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
<% end %>



<section class="post_content">
  <div class="post_content_inner">
    <div class="post_title large">
  <span class="quote">At the end of the day, we can endure much more than we think we can.</span>
</div>
    <div class="post_body">
      <div class="quote_source">
  —&nbsp;
  Frida Kahlo</div>
    </div>
  </div>
</section>