<h1>Browse Ideas</h1>
    <% @ideas.each do |idea |%>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <% idea.avatar.url(:thumb) %>
          <div class="caption">
            <h4><%= idea.title %></h4>
              <% if (idea.category.blank?) %>
                  <div class="label label-primary pull-left">Category: Unknown</div>
              <% else %>
                  <div class="label label-primary pull-left">Category:  <%= idea.category %></div>
              <% end %>
          </div>
            <p>
              <% if idea.content.length > 350 %>
                <p class="show-less">
                  <%= idea.content[0..200] %>...c
                  <a class="show-text">Show more</a>
                </p>
                <p class="show-more">
                  <%= idea.content[0..idea.content.length] %>
                  <a class="hide-text">Show less</a>
                </p>
            <% else %>
                <p><%= idea.content %></p>
            <% end %>
            </p>
          <%= link_to "I'm Interested", idea_path(idea), class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>