<h1>Browse Ideas</h1>

  <% @ideas.each do |idea| %>
        <div class="col-xs-2"><%= image_tag idea.user.avatar.url(:thumb) %></div>
        <div class="col-xs-2"><td>Title: <%= idea.title %></td></div>
        <div class="-col-xs-6">

            <% if (idea.category.blank?) %>
                <h3>Category: Unknown</h3>
            <% else %>
                <h3>Category:  <%= idea.category %></h3>
            <% end %>

        </div>
        <div class="col-xs-12">
            <p><%= idea.content %></p>
          <td><%= button_to 'Show', idea, class: 'btn btn-primary' %></td>
        </div>
  <% end %>