<h1>Your Ideas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.category %></td>
        <td><%= idea.content %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container-fluid">
<%= button_to 'Start a New Idea', new_idea_path, :class => 'btn btn-success' %>
</div>
    <div class="digg_pagination padding-top-15">
      <div class="page_info">
        <%= page_entries_info @ideas %>
      </div>
      <%= will_paginate @ideas, :container => false %>
    </div>
