<p>
  <strong>Nickname:</strong>
  <%= @user_detail.nickname %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @user_detail.likes %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_detail.user_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user_detail.rating %>
</p>

<p>
  <strong>Postcount:</strong>
  <%= @user_detail.postCount %>
</p>

<%= link_to 'Edit', edit_user_detail_path(@user_detail) %> |
<%= link_to 'Back', user_details_path %>
