<!DOCTYPE html>
<html>
<head>
  <title>LikeMinds</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-tabs" role="tablist">
  <% if user_signed_in? %>
      <li><%= link_to "Like Minds", root_path %></li>
      <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Post your Idea", new_idea_path %></li>
      <li><%= link_to "Your Ideas", ideas_path %></li>
      <li class="signed-in-padding pull-right">Logged In As <%= current_user.email %></li>
  <% else %>
      <li><%= link_to "Like Minds", root_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "About Us" %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
    <div class="col-xs-offset-8 padding-top-15">
      <%= render "ideas/search" %>
    </div>
    <hr>
<% end %>

<div class="container-fluid">

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% elsif alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
