<!DOCTYPE html>
<html>
<head>
  <title>LikeMinds</title>
  <link href='http://fonts.googleapis.com/css?family=Arvo:700|Quicksand|Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
          <%= link_to "Like Minds", root_path, class: "navbar-brand" %>
      <% else %>
          <a class="navbar-brand page-scroll" href="#page-top">Like Minds</a>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Ideas
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Manage your Ideas", ideas_path %></li>
                <li><%= link_to "Post an Idea", new_idea_path %></li>
                <li><%= link_to "Browse Ideas", ideas_forum_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Logged In As <%= current_user.email %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <form class="navbar-form pull-right" role="search">
              <%= render "ideas/search" %>
            </form>
        <% else %>
            <li><a class="page-scroll" href="#signupDivEnd">Sign Up</a></li>
            <li><%= link_to "Login", "#login", id: "loginBtn", "data-toggle" => "modal", "data-targert" => "loginModal" %></li>
            <li><a class="page-scroll" href="#about">About Us</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= render "users/registrations/login_modal" %>
  <div class="row row-margin"></div>
  <% if notice %>
      <div class="alert alert-success alert-dismissable" role="alert">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;
        </span></button>
        <span class="sr-only">Notice:</span>
        <%= notice %>
      </div>
  <% elsif alert %>
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;
        </span></button>
        <% flash.each do |name, msg| %>
            <% if msg.class == Array %>
                <% msg.each do |message| %>
                    <%= content_tag :div, message.html_safe, :id => "flash_#{name}" %>
                <% end %>
            <% else %>
                <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
            <% end %>
        <% end %>
      </div>
      </div>
  <% end %>

  <%= yield %>

  </div>

  <script type="text/javascript">
      $(".dropdown-menu li a").click(function () {
          var selText = $(this).text();
          $(this).parents('.dropdown').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
      });

      $('#loginBtn').click(function () {
          $('#loginModal').modal();
      });


  </script>

  </body>
</html>
